<p>error-page works!</p>


<ul>
    <li>
        <a routerLink="/auth/login">
            Ir a login
        </a>
    </li>
    <li>
        <a routerLink="/auth/register">
            Ir al registro
        </a>
    </li>
    <li>
        <a routerLink="/heroes/list">
            Ir al listado de heroes
        </a>
    </li>
    <li>
        <a routerLink="/heroes/add">
            Añadir heroes
        </a>
    </li>
    <li>
        <a routerLink="['/heroes/edit' , 1]">
            Editar heroes
        </a>
    </li>
    <li>
        <a routerLink="/heroes/search">
            Buscar heroes
        </a>
    </li>
    <li>
        <a routerLink="['/heroes' , 1]">
            Buscar heroes
        </a>
    </li>
</ul>